.header {
    display: flex;
    flex-direction: row;
    background-color: #4E5166;
    padding-bottom: 0rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
    padding: 0 2rem;
    border-radius: 0 0 5rem 5rem;
}

.btn {
    background-color: #FFD7D7;
    font-size: 1.49rem;
    font-weight: 500;
    width: 50%;
    padding: 0;
    border: 0;
    border-radius: 2rem 2rem 0 0;
}
.text {
    color: #6f6f6f;
    margin: 1.5rem 0 auto auto;
}
.icon {
    filter: invert(55%) sepia(13%) saturate(0%) hue-rotate(286deg) brightness(90%) contrast(94%);
    height: 2rem;
    margin: 1.2rem auto auto 1rem;
}

/*---------------------------------*/
/*         _scrollbar.scss       */
/*-------------------------------*/

.container::-webkit-scrollbar {
    width: 0.5rem;
}

.container::-webkit-scrollbar-thumb {
    background: #FD2D01;
}